<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Signup!</h1>
    <form action="/register" method="POST">
        <div>
            <label for="Username">Username:</label>
            <input type="text" id="Username" name="username" placeholder ="Enter your username">
        </div>
        <div>
            <label for="Password">Password:</label>
            <input type="password" id="Password" name="password" placeholder="Enter your password">
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
</html> 