<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New FARM</title>
</head>
<body>
    <h1>Add New FARM</h1>
    <form action="/farms" method="POST">
    <div>
        <label for=" FARM name">FARM Name:</label>
        <input type="text" name="name" placeholder="FARM Name">
    </div>

    <div>
        <label for="CITY">City NAME :</label>
        <input type="text" name="city" placeholder="CITY">
    </div>
    <div>
        <label for="EMAIL">Email ID:</label>
        <input type="text" name="email" placeholder="EMAIL">
    </div>
        </Select>
        <button type="submit">Add FARM</button>
    </form>
</body>
</html>